/* Bump top padding on compact blog */
@media only screen and (max-device-width: 1023px) {
  .blogContainer {
    padding-top: 4rem;
  }
}

/* Clear bottom padding from blog */
.blogContainer {
  padding-bottom: 0;
}

/* Paint header black */
.blogContainer .postHeaderTitle a {
  color: #3c3e4c;
}

/* Remove its bottom margin */
.blogContainer .postHeaderTitle,
.posts .post .postHeaderTitle {
  margin-bottom: 0.05em;
}

/* Make article titles on list smaller and red */
.posts .post .postHeaderTitle {
  line-height: 0.5em;
}

.posts .post .postHeaderTitle a {
  vertical-align: top;
  color: #dd3333;
  font-size: 0.5em;
}

@media only screen and (min-device-width: 736px) {
  .posts .post .postHeaderTitle a {
    font-size: 0.5em;
  }
}

/* Gray out date */
.blogContainer .post-meta {
  color: #b1b2b8;
}

/* Remove top margin from post's first item */
.posts .post-content h2:first-child {
  margin-top: 0;
}

/* Remove bottom border from posts */
.blog .blogContainer .posts .post {
  border-bottom: none;
  margin-bottom: 40px;
}

/* Restyle read more button */
.blog .read-more .button {
  padding: 8px 16px;
  padding-left: 0;

  background-image: url("./img/nav-arrow.png");
  background-position: right 2px top 8px;
  background-repeat: no-repeat;
  background-size: 8px 8px;
  border: none;
  border-radius: 0;
  color: #3c3e4c;
}

.blog .read-more .button:focus,
.blog .read-more .button:hover {
  background-color: transparent;
  border: none;
  color: #dd3333;
}

/* Hide "go back" link */
.blog-recent {
  display: none;
}
