.projectLead {
  margin: 20px 0;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

@media only screen and (min-device-width: 460px) {
  .projectLead {
    font-size: 3em;
  }
}

@media only screen and (min-device-width: 600px) {
  .projectLead {
    font-size: 4em;
  }
}

@media only screen and (min-device-width: 736px) {
  .projectLead {
    font-size: 5em;
  }
}

@media only screen and (min-device-width: 900px) {
  .projectLead {
    font-size: 6em;
  }
}

/* CTA buttons */
.homeCtaSection .promoRow .pluginRowBlock {
  align-items: center;
  justify-content: start;
}

.ctaSpacer {
  margin-right: 0.25em;
}

.ctaButton {
  margin-right: 0.5em;
  padding: 16px 24px;

  background-color: #f0f0f0;
  border-color: #f0f0f0;
  border-radius: 0;
  color: #dd3333;
}

.ctaButton:hover {
  background: #e0e0e0;
  color: #dd3333;
}

@media only screen and (max-device-width: 735px) {
  .homeCtaSection .promoRow .pluginRowBlock {
    display: block;
  }

  .ctaButton {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
}

/* Code focused block */
.codeFocusedBlockContent h4 {
  font-size: 3em;
  font-weight: normal;
}

@media only screen and (min-device-width: 990px) {
  .codeFocusedBlock {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 80px;
  }

  .codeFocusedBlockContent {
    flex: 0 0 50%;
    padding-right: 80px;
  }

  .codeFocusedBlockContent h4 {
    margin-top: 0;
  }

  .codeFocusedBlockContent p:last-child {
    margin-bottom: 0;
  }

  .codeFocusedBlockCode {
    flex: 0 0 50%;
  }

  .codeFocusedBlockCode code {
    height: 400px;
    overflow-y: auto;
  }
}

/* Override features */
.homePromoSection img {
  width: 70px;
  height: 72px;
}

@media only screen and (max-device-width: 735px) {
  .homePromoSection .gridBlock .blockElement {
    margin-bottom: 40px;
  }

  .homePromoSection .gridBlock .blockElement:last-child {
    margin-top: 0;
  }
}

/* See also section */
.homeSeeAlsoSection {
  margin-bottom: 16px;
}

.homeSeeAlsoSection h2 {
  font-size: 3em;
  font-weight: normal;
}

.homeSeeAlsoGrid a {
  border: 1px solid #ddd;
  border-radius: 8px;
  display: block;
  padding: 16px 24px;
  margin-bottom: 16px;

  color: #000;
}

.homeSeeAlsoGrid a strong {
  display: block;
  margin-bottom: .5em;

  font-size: 2em;
}

.homeSeeAlsoGrid a p {
  margin: 0;
}

.homeSeeAlsoGrid a:focus,
.homeSeeAlsoGrid a:hover,
.homeSeeAlsoGrid a:active {
  border: 1px solid #dd3333;
}

@media only screen and (min-device-width: 735px) {
  .homeSeeAlsoGrid {
    display: flex;
    margin: 0 -16px;
  }

  .homeSeeAlsoGrid a {
    flex: 1;
    margin: 0 16px;
    margin-bottom: 16px;
  }
}