.shoutout {
  background-color: #1b9cfc;
  text-shadow: 0px 0px 3px #19517c;
  border-radius: 8px;
  margin-top: 1rem;
}

  .shoutout a,
  .shoutout a:link
  .shoutout a:visited {
    display: block;
    padding: 1rem;
    color: #fff;
  }

  .shoutout a:hover {
    text-decoration: underline;
  }