.shoutout {
  background-color: #fff200;
  border-radius: 8px;
  margin-top: 1rem;
}

  .shoutout a,
  .shoutout a:link
  .shoutout a:visited {
    display: block;
    padding: 1rem;
    color: #000;
  }

  .shoutout a:hover {
    text-decoration: underline;
  }