name: Publish on GitHub Pages 

on:
  push:
    branches: [master]
    paths: [website/**]

jobs:
  build-n-publish:
    name: Build and publish on GitHub Pages
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Set up Node
      uses: actions/setup-node@v2
      with:
        node-version: 14.x
    - name: Build website
      working-directory: website
      run: |
        npm install
        npm run build
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./website/build
